## CS 521 Homework 10

All these problems can be done with just the Pandas methods/functions we've gone over in Module 6. However, I encourage you to seek out additional methods from the Pandas official website (https://pandas.pydata.org/docs/index.html) as there are many helpful shortcuts that can simplify most of your solutions to just one or two lines. 

It is my hope you'll take this assignment as an opportunity to seek out additional methods and documentation to improve your resource and searching skills.

**For this assignment, you are to code your solutions in such a way that if a different dataset were used (whether a different stock, different range in dates (e.g. 2017 - 2021), etc.) as input that your solutions will produce correct results.**

### Import the Dataset
The below code will import a excel file for daily stock data from 2016 - 2020 for Microsoft. In the dataset you have daily information for Opening stock value, Closing stock value, Volume of stock bought/sold, etc. There is no missing data in the dataframe, so no need to do any sort of cleaning.

In [1]:
import pandas as pd
df = pd.read_excel('MSFT.xlsx')
df

,Date,Year,Month,Day,Weekday,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Short_MA,Long_MA
0,2016-01-04,2016,1,4,Monday,1,2016-01,54.32,54.80,53.39,54.80,53778000,49.49,49.490000,49.490000
1,2016-01-05,2016,1,5,Tuesday,1,2016-01,54.93,55.39,54.54,55.05,34079700,49.71,49.600000,49.600000
2,2016-01-06,2016,1,6,Wednesday,1,2016-01,54.32,54.40,53.64,54.05,39518900,48.81,49.336667,49.336667
3,2016-01-07,2016,1,7,Thursday,1,2016-01,52.70,53.49,52.07,52.17,56564900,47.11,48.780000,48.780000
4,2016-01-08,2016,1,8,Friday,1,2016-01,52.37,53.28,52.15,52.33,48754000,47.26,48.476000,48.476000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2020-12-23,2020,12,23,Wednesday,51,2020-51,223.11,223.56,220.80,221.02,18699600,218.73,214.427857,212.103800
1254,2020-12-24,2020,12,24,Thursday,51,2020-51,221.42,223.61,221.20,222.75,10550600,220.44,215.020714,212.152600
1255,2020-12-28,2020,12,28,Monday,52,2020-52,224.45,226.03,223.02,224.96,17933500,222.63,215.775000,212.268800
1256,2020-12-29,2020,12,29,Tuesday,52,2020-52,226.31,227.18,223.58,224.15,17403200,221.83,216.350714,212.369000
1257,2020-12-30,2020,12,30,Wednesday,52,2020-52,225.23,225.63,221.47,221.68,20272300,219.38,217.048571,212.527600

### Problem 1
Missing from this data table is a _Return_ variable that compares the gain or loss of a current day to the previous days. The calculation to get _Return_ is to take the current day's _Adj Close_ value, subtract from it the previous day's _Adj Close_ value, and divide the difference by the previous day's _Adj Close_.

So if we're on Day 5: 

<center>Return<sub>Day 5</sub> = (Adj Close<sub>Day 5</sub> - Adj Close<sub>Day 4</sub>) / Adj Close<sub>Day 4</sub></center>

Create a column/variable named _Return_ following the above calculation. Assume the first day, at index 0, has a Return value of 0.0

In [ ]:
df.at[0,'Return']=0 
#Assigning the value at index 0 in value 0
for i in range (1,1258):
    df.at[i,'Return']=((df.at[i, 'Adj Close']-df.at[i-1,'Adj Close'])/df.at[i-1,'Adj Close']) 
    #using the formula 
print(df['Return'])

### Problem 2 
Provide the _Date_ which had the highest/max _Return_ value.

In [ ]:
df[['Date']][df.Return == df.Return.max()] #Returns the date of max Return value

### Problem 3
Provide the _Date_ which had the lowest/min _Return_ value.

In [ ]:
df[['Date']][df.Return == df.Return.min()] #Returns the date of min return value
#Return is created as a column in the Dataframe.

### Problem 4
Create a new column titled _Class_ which labels a row 'green' if the _Return_ value is greater than or equal to 0 or 'red' if otherwise.

In [ ]:
import pandas as pd
df = pd.read_excel('MSFT.xlsx')
df.head()

df['Return'] = 0.0
df['Return'] = (df['Adj Close'].shift(-1) - df['Adj Close']) / df['Adj Close']
df.head()

df['Class'] = 'green'
df.loc[df['Return'] < 0, 'Class'] = 'red'
df.head()

### Problem 5
Show the descriptive statistics (count, mean , std, etc.) for _Weekdays_ that have a 'green' _Class_ value.

In [ ]:
df.query("Class=='green'")['Weekday'].describe()

### Problem 6
Give the _Dates_ which correspond to the top 5 all time highest _Volume_ values.

In [ ]:
# Fill in pandas 
df = pd.read_excel('MSFT.xlsx')

#Volume is used to sort the data frame.
df_sorted_by_volume = df.sort_values(by='Volume',ascending=False).reset_index()

#selecting the top five dates from the volume-sorted dataframe
top_5_days = df_sorted_by_volume['Date'][:5]

print(f'Top 5 Day :\n{top_5_day}')

### Problem 7
Using the drataframe created in Problem 4, create a new dataframe that has two columns titled _Year_ and _Count_. Each row in the dataframe should represent the number of 'green' days that occured for each unique year present in the dataframe in Problem 4.

For example (note, below numbers are made up for demonstration):<br>

Years$\;\;\;\;\;\;$Count<br>
2016$\;\;\;\;\;\;\;\;$100<br>
2017$\;\;\;\;\;\;\;\;$102<br>
2018$\;\;\;\;\;\;\;\;$122<br>
2019$\;\;\;\;\;\;\;\;$111<br>
2020$\;\;\;\;\;\;\;\;$102<br>

In [ ]:

df_7 = df_7[['Year','Day']] # get two columns i.e. 'Year' and 'Day'

df_7.rename(columns = {'Day':'Count'}, inplace = True)  # rename the column 'Day' to 'Count'

print(df_7.head())

### Problem 8
Using the drataframe created in Problem 4, create a new dataframe that has two columns titled _Weekday_ and _Avg Return_. Each row in the dataframe should represent the average overall return that occured for each unique Weekday in the dataframe in Problem 4.

For example (note, below numbers are made up):<br>

Weekday$\;\;\;\;\;\;$Avg Return<br>
Monday$\;\;\;\;\;\;\;\;\;$0.011<br>
Tueday$\;\;\;\;\;\;\;\;\;\;$0.022<br>
Wednesday$\;\;\;\;$-0.222<br>
Thursday$\;\;\;\;\;\;\;$1.111<br>
Friday$\;\;\;\;\;\;\;\;\;\;\;$-0.22<br>

Note: You do not have to have the Weekdays in the same order as the above table or round the decimal values.

In [ ]:
df_8 = df.groupby(['Weekday']).mean().reset_index()     

# group by Weekday, then take mean

df_8['Avg Return'] = (df_8['Close'] - df_8['Open'])/100 

# calculate the Avg Return

df_8 = df_8[['Weekday','Avg Return']]

# Select only two columns i.e. 'Weekday' and 'Avg Return'

print(df_8.head())

### Problem 9
Let us predict the _Class_ label for the following day at the end of our dataframe from Problem 4. Count the number of 'green' and 'red' labels in the last _n_ days of this dataframe. Determine based on a simple majority whether the next trading day after 2020-12-30 will be a 'green' day or a 'red' day. Write your code in such a way that it will determine this majority and predicted Class label based on what value _n_ is used. 

If there is a tie (i.e. equal number of 'green' days vs 'red' days) then use a randomly selected label as your prediction.

Example: if n = 5

green<br>
red<br>
red<br>
green<br>
green<br>

Would result in 'green' for following trading day after 2020-12-30 given there are 3 'green' days and only 2 'red' days.

In [ ]:
import pandas as pd

import numpy as np


df = pd.read_excel('MSFT.xlsx')  

print(df.head())

n = int(input("Enter the value for n: "))

# add new column 'position', it will store color by requirement

df['position'] = np.where(df['Close'] >= df['Open'] , 'green', 'red')

df_9 = df[['Date','position']]

# select end of rows

df_9 = df_9.tail(n)

print(f"printing last {n} rows")

print(df_9)

df_9 = df_9.groupby(['position']).agg('count').reset_index().sort_values('Date', ascending=False).head(1)

# print the result

print("output result.")

print(df_9.iloc[0:1,0:1])